    <!--end of Aside Section-->
    <!--Footer for fun-->
    <footer class="small bg-info" id = "footer">
      <div class="container">
        <ul class="list-inline mb-0">
          <li class="list-inline-item text-light">
            &copy; Fegg App for INFSCI 2560
          </li>
        </ul>
      </div>
    </footer>

    <!---End of Footer-->
    <!--End of Category-->
    
  </body>
</html>